@using BaselFinalProjectApp.Models.MainModel
@model IList<AppUser>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td></td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>

                @if (item.LockoutEnd == null)
                {
                    <a asp-controller="Account" asp-action="ChangeActive" asp-route-active="true" asp-route-Id="@item.Id">Active</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="ChangeActive" asp-route-active="false" asp-route-Id="@item.Id">LockOut</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>