@model List<BaselFinalProjectApp.Models.MainModel.ColorLanguage>
@using BaselFinalProjectApp.Models.MainModel

<section class="mb-4">
    <div class="p-3 bg-secondary text-white" style="font-size:1.5rem; text-align:center;">Color</div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ColorCode</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ColorLanguage item in Model)
            {
            <tr>
                <th>@item.Name</th>
                <td>@item.Color.ColorCode</td>
                <td>
                    <a asp-action="Edit" asp-controller="Color" asp-route-id="@item.Color.Id">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Color" asp-route-id="@item.Color.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" asp-controller="Color" class="btn btn-secondary btn-lg btn-block">Create</a>
</section>
